.panda-bg-color{
    background-color:#fceae8;
}
.category-color-1{
    background-color: #ffa500;
}
.category-color-2{
    background-color: #da70d6;
}
.category-color-3{
    background-color: #0000ff;
}
.button-color{
    background-color: #ff3f8b;
}